<nav class="navbar navbar-fixed-top navbar-dark bg-primary">
  <button class="navbar-toggler hidden-sm-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
      ☰
  </button>
  <a class="navbar-brand" href="#">DUE PAYMENTS</a>
  <div class="collapse navbar-toggleable-xs" id="collapsingNavbar">
      <ul class="nav navbar-nav pull-right">
          <%= content_tag(:li, class: 'nav-item') do %>
            <a class="nav-link" href="#">DASHBOARD <span class="sr-only"></span></a>
          <% end %>
          <%= content_tag(:li, class: "nav-item #{(@current_page == 'estates' ? 'active' : '' )}") do %>
            <%= link_to('ESTATES', estates_path, class: 'nav-link') %>
          <% end %>
          <%= content_tag(:li, class: "nav-item #{(@current_page == 'landlords' ? 'active' : '' )}") do %>
            <%= link_to('LANDLORDS', landlords_path, class: 'nav-link') %>
          <% end %>
          <li class="nav-item">
              <a class="nav-link" href="#estates">PAYMENTS</a>
          </li>
      </ul>
  </div>
</nav>