<%= render :partial => 'sub_menu' %>

<div class="col-md-9 col-lg-10">

  <h2>Modify a landlord</h2>

  <div class="some-space hidden-md-up"></div>

  <div class="col-md-5">
    <%= form_tag(landlord_path(@landlord.id), method: 'put', id: 'form_landlord', 'data-parsley-validate': true) do %>
      <%= render(partial: 'form', locals: {
        firstname: @landlord.firstname,
        lastname: @landlord.lastname,
        address: @landlord.address,
        zip_code: @landlord.zip_code,
        phone_number: @landlord.phone_number, 
        email: @landlord.email,
        enable: @landlord.enable
        }) %>
      <%= submit_tag("Submit", class: 'btn btn-primary', disabled: true) %>
    <% end %>
  </div>

</div>


<% content_for :javascript_includes do %>
    <%= javascript_include_tag 'form_landlords', 'data-turbolinks-track': false, 'data-turbolinks-eval': false %>
<% end %>