<%= render :partial => 'sub_menu' %>
<div class="col-md-9 col-lg-10">
  <div class="table-responsive">
    <table id="table-list-landlord" class="table table-sm table-hover">
      <thead>
        <tr>
          <th>Fistname</th>
          <th>Lastname</th>
          <th>Address</th>
          <th>Zip Code</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @landlords.each do |landlord| %>
        <tr>
          <td><%= landlord.firstname %></td>
          <td><%= landlord.lastname %></td>
          <td><%= landlord.address %></td>
          <td><%= landlord.zip_code %></td>
          <td>
            <a href="#" class="btn btn-link"><span class="ion-edit size-16"></span></a>
            <%= button_to "lala", :class => 'btn btn-link', :style => 'display: inline-block;', :method => 'delete' do %>
              <span class="ion-ios-trash size-16"></span>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>