<!DOCTYPE html>
<html>

  <head>
    <title>Administration</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="turbolinks-cache-control" content="no-cache">
    <meta name="turbolinks-cache-control" content="no-preview">

    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render partial: 'menu/menu_partials' %>

    <div class="container-fluid" id="main">
      <%= render partial: 'layouts/notification' %>
      <%= yield %>
    </div>

    <%= javascript_include_tag 'admin', 'data-turbolinks-track': false, 'data-turbolinks-eval': false %>
    <%= yield :javascript_includes %>

  </body>

</html>
